.m-menu-link {
    display: none !important;
}
.m-menu {
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    list-style: none;
    font-size: 1rem;
    line-height: 4rem;
    background-color: #0f7bff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: .2s;

    &_active {
        transform: translateX(0%);
    }

    .close {
        position: fixed;
        right: 1rem;
        top: 0rem;
        font-size: 2rem;
        color: #fff;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }

    .btn {
        display: flex;
        margin: 0 auto;
        padding: 0;
        margin: 0;
        &_header {
            margin: 0 auto;
            margin-top: 20px;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        a {
            color: #fff;
            border: 1px solid #fff;
            border-radius: 25px;
            padding: 10px 25px;
            &:hover {
                border: none;
                transition: .35s;
            }
        }
        li {
            margin: 0;
            padding: 0;
        }
    }
}
