@media (max-height: 600px) {
  .device {
    display: none;
  }
}

@media (max-width: 1450px) {
  .price {
    width: 80%;
  }
  #screen3 {
    width: 90%;
  }
  #device {
    max-width: 900px;
  }
}

@media (max-width: 1279px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 26px;
    color: #000;
  }
  h2 {
    font-size: 18px;
    color: #000;
  }
  h3 {
    font-size: 14px;
    color: #000;
  }
  .line {
    display: none;
  }
  .btn {
    height: 30px;
    width: 120px;
  }
  #logo {
    width: 70%;
  }
  .function {
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .privilege {
    height: 100%;
    padding: 50px;
  }
  .privilege_block_center {
    margin: 0;
  }
  .order {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  #screen3 {
    width: 50%;
  }
  .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    text-align: center;
    padding-bottom: 100px;
  }
  .price .block_plan {
    height: 300px;
  }
  .price .between-2 {
    margin: 0 auto;
  }
  .price .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .price .row .price_block {
    margin-left: 50px;
    margin-right: 50px;
  }
  #team {
    display: none;
  }
  .twitter {
    padding-bottom: 20px;
    text-align: center;
  }
  .twitter_twitts {
    margin: 0 auto;
  }
  .news_block_right {
    margin-top: 70px;
    text-align: center;
  }
  .linebtn {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .twitter_twitts {
    margin: 0 auto;
    width: 100%;
  }
  .twitter_twitts_window {
    margin-right: 120px;
    margin-left: 120px;
    margin: 0 auto;
  }
  .news {
    height: 100%;
    padding: 50px;
  }
  .news_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news_block_left {
    text-align: center;
    padding: 0;
  }
  .free_btn {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .free_trial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .free_trial_left {
    padding: 0;
  }
  .free_trial .btn {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  #device {
    display: none;
  }
  .content_header {
    height: 100vh;
    margin-top: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 30%;
  }
  .visibl {
    display: none !important;
  }
  .privilege_block {
    margin-right: 5px;
    margin-left: 5px;
  }
  .function {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .line {
    display: none;
  }
  .price .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price .row .price_block {
    padding: 10px;
  }
  .news_block_right {
    margin-top: 70px;
    text-align: center;
  }
  .footer {
    height: 100%;
    padding: 120px;
    line-height: 3rem;
  }
  .footer_box {
    padding: 0px;
    height: 100%;
  }
  .footer .down {
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .footer .wrap_footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer #arrow_up {
    margin-top: 20px;
  }
  .m-menu-link {
    display: block !important;
    color: #0f7bff;
  }
}

@media (max-width: 760px) {
  .privilege {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 10px;
  }
  .privilege_block {
    margin: 0 auto;
    margin-top: 10px;
    width: 200px;
  }
  .privilege .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .privilege .container_privelege {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .function_block_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .function #screen3 {
    margin-top: 50px;
  }
  .order {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .order_faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order_faq_block {
    margin-bottom: 30px;
  }
  .twitter_twitts_window {
    margin-bottom: 20px;
  }
  .twitter .shell {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #news_img_1 {
    width: 50%;
  }
  .news {
    overflow: hidden;
  }
  .news_block_left {
    width: 300px;
    max-width: 300px;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  .wrap {
    max-width: 300px;
    padding: 0;
    margin: 0 auto;
  }
  .news_block_right {
    margin-top: 70px;
    text-align: center;
  }
  .news_block_right_info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
  }
  .news_block_right_info_bar {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #news_info {
    width: 70%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .footer_box {
    width: 100%;
  }
  .footer .between-2 {
    margin: 0 auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .between-2 .btn-left {
    width: 100%;
  }
  .footer .between-2 .btn-right {
    width: 30%;
  }
  .block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 490px) {
  .price {
    margin: 0 auto;
    padding: 0;
  }
  .price .btn-right, .price .btn-left {
    width: 80px;
  }
  .price_block {
    width: 200px;
    margin: 0;
    padding: 0;
  }
  .privilege .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .privilege .container_privelege {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .privilege_block {
    padding: 0;
    margin: 0;
    margin: 0 auto;
  }
  .twitter_twitts_window {
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    width: 90%;
  }
  .footer_box {
    width: 280px;
  }
}
